# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
venv/
.env/

# VSCode
.vscode/

# Project files
*.sqlite3
*.zip
tree.txt
update_tree*.py
dashboard/
m_one/
