__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/

build/
dist/
*.egg-info/

pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

*.log
db.sqlite3
*.pot
*.pyc

*.bak
*.old
*.swp

pupdater_*.zip
tree.txt
update_tree*.py

